extends layouts/default.pug

block stylesheet
  link(rel='stylesheet' type='text/css' href='vendor/css/reboot.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
block content
  main
    .container
      .box
        .inner
          .section
            .name Another page
            a(href="/") Get home
