<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{{image}}}">

    <meta property="og:site_name" content="{{name}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{{url}}}">
    <meta property="og:creator" content="{{author}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{{image}}}">
    <meta property="og:description" content="{{description}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{name}}">
    <meta name="twitter:creator" content="{{author}}">
    <meta name="twitter:url" content="{{{url}}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{{image}}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="application-name" content="{{title}}">

    <meta name="theme-color" content="{{themeColor}}">

    <title>{{title}} - {{name}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    {@content}
    {@sdata}
  </body>
</html>
