<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}">

    <meta itemprop="description" content="{{meta.description}}">
    <meta itemprop="image" content="{{meta.image}}">

    <meta property="og:site_name" content="{{meta.name}}">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:url" content="{{meta.url}}">
    <meta property="og:creator" content="{{meta.author}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{meta.image}}">
    <meta property="og:description" content="{{meta.description}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{meta.name}}">
    <meta name="twitter:creator" content="{{meta.author}}">
    <meta name="twitter:url" content="{{meta.url}}">
    <meta name="twitter:title" content="{{meta.title}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{meta.image}}">
    <meta name="twitter:image:src" content="{{meta.image}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{meta.title}}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/images/brand/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/brand/browserconfig.xml">
    <meta name="theme-color" content="#2e0404">

    <title>{{meta.title}}</title>

    <link rel="manifest" href="/images/brand/manifest.json">
    <link rel="mask-icon" href="/images/brand/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" type="image/png" href="/images/brand/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/images/brand/favicon.ico">

    <link rel="icon" type="image/png" href="/images/brand/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/brand/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/brand/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/brand/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/brand/manifest.json">
    <link rel="mask-icon" href="/images/brand/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/brand/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/brand/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/brand/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/brand/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/brand/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/brand/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/brand/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/brand/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/brand/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/brand/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    {@style}
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    {@content}
    {@sdata}
    {@script}
  </body>
</html>
