<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{image}}">
    <meta property="og:site_name" content="{{name}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:creator" content="{{author}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{image}}">
    <meta property="og:description" content="{{description}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{name}}">
    <meta name="twitter:creator" content="{{author}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{image}}">
    <meta name="twitter:image:src" content="{{image}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    {@style}
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    {@content}
    {@sdata}
    {@script}
  </body>
</html>
